<app-header></app-header>

<div class="container">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar" [(ngModel)]="terminoBusqueda" (keyup.enter)="buscar(terminoBusqueda)">
        <button class="btn-agregar" (click)="agregarProduct()">Agregar</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre del Producto</th>
                <th>Descripción<i class="info-icon fas fa-info-circle"></i></th>
                <th>Fecha de liberación <i class="info-icon fas fa-info-circle"></i></th>
                <th>Fecha de reestructuración<i class="info-icon fas fa-info-circle"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list, let i = index">
              <td><img class="logo-image" [src]="item.logo" alt="Logo"></td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.date_release  | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.date_revision  | date:'dd/MM/yyyy' }}</td>
              <td (click)="toggleMenu(i)">
                <i class="fas fa-ellipsis-v options-icon"></i>
                <app-options  *ngIf="mostrarMenuIndex  === i"
                               (editarClicked)="editar(item)"
                               (eliminarClicked)="eliminar(item)">
                </app-options>
              </td>
            </tr>
          </tbody>
    </table>

    <div class="table-bottom">
        <div class="pagination-text">{{result}} resultados</div>
        <select class="pagination-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>


