<app-header></app-header>

<div class="container">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar">
        <button class="btn-agregar" (click)="agregarProduct()">Agregar</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre del Producto</th>
                <th>Descripción<i class="info-icon fas fa-info-circle"></i></th>
                <th>Fecha de liberación <i class="info-icon fas fa-info-circle"></i></th>
                <th>Fecha de reestructuración<i class="info-icon fas fa-info-circle"></i></th>
                <th>Acciones</th> <!-- Sexta columna -->
            </tr>
        </thead>
        <tbody>
            <!-- Contenido de la tabla aquí -->
            <tr>
                <td>Logo 1</td>
                <td>Dato 1</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td><i class="options-icon fas fa-cog"></i></td>
            </tr>
            <!-- Repite filas para hacer la tabla más larga -->
            <tr>
                <td>Logo 2</td>
                <td>Dato 1</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td><i class="options-icon fas fa-cog"></i></td>
            </tr>
            <tr>
                <td>Logo 3</td>
                <td>Dato 1</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td><i class="options-icon fas fa-cog"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="table-bottom">
        <div class="pagination-text">{{result}} resultados</div>
        <select class="pagination-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>


